<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
    <title>template</title>
    <meta name="description" content="template">
	<meta name="author" content="rballen">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css?v=1.0">
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<!--[if gt IE 8]><!--> <html class="no-js" lang="en" id="html"> <!--<![endif]-->
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'></head>
  </head>
  <body>
    	<h1>Hello World</h1>
	<div id="wrapper">
		<header>Header</header>
		<nav>Nav</nav>
		<section id="content">
			<article>Article</article>
		</section>
		<aside>Sidebar</aside>
		<footer>Footer</footer>
	</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script id="jqueryui" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js" defer async></script>
  </body>
</html>

